# Normalize line endings
* text=auto eol=lf

# Syntax-aware diffs
*.php        diff=php
*.blade.php  diff=html
*.html       diff=html
*.css        diff=css
*.md         diff=markdown

# GitHub Linguist override (treat Blade as PHP)
*.blade.php linguist-language=PHP

# Exclude from export archives
/.github      export-ignore
CHANGELOG.md  export-ignore
.styleci.yml  export-ignore
